# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# snapshots
public/snapshots/*

# misc
.DS_Store
._.*
._*
.smbdelete*

npm-debug.log*
